.resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 75%;
}

.resume a {
    color: #3661bf;
    text-decoration: none;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section-title-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%
}

.section-title {
    font-size: calc(14px + 0.5vw);
}

.subject-container {
    width: 95%;
}

.subject-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.subject-heading div:nth-child(1) {
    width: 55%;
}

.subject-heading div:nth-child(2) {
    width: 45%;
}

.subject-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 0;
    margin-bottom: 2px;
    font-size: calc(8px + 0.5vw);
}

.date-range {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 0;
    margin-bottom: 2px;
    font-style: italic;
    font-size: calc(8px + 0.5vw);
}

.subject-note {
    margin-top: 0;
    margin-bottom: 0;
    font-size: calc(8px + 0.5vw);
}

.subject-descriptor-list {
    margin-top: 0.8%;
    margin-bottom: 1%;
}

.subject-descriptor-list li {
    margin-bottom: 6px;
    font-size: calc(8px + 0.5vw);
}

.skill-overview-grid {
    display: flex;
    width: 95%;
}

.skill-overview-grid div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 16px;
    margin-right: 16px;
    width: 27%;
}

.skill-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: calc(8px + 0.5vw);
}