<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <title>Home</title>
    <link type="text/css" rel="stylesheet" href="/static/css/_base.css">
</head>
<header class="header">
    <ul class="topnav">
        <li>
            <a href="/">HOME</a>
        </li>
        <li>
            <a href="/projects">PROJECTS</a>
        </li>
        <li>
            <a href="/resume">RESUME</a>
        </li>
        <li>
            <a href="/about">ABOUT</a>
        </li>
        <li>
            <a href="/contact">CONTACT</a>
        </li>
    </ul>
    <hr class="topnav">
</header>
</html>