{{define "head"}}
    <link type="text/css" rel="stylesheet" href="/static/css/about.css">
{{end}}

{{define "main"}}
    <div class="about-me">
        <p>
            Currently, I am completing my final year of studies as a Software Engineering
            student at the University of Victoria in Victoria, British Columbia.
            I have specialized in the field of machine learning at UVIC, having
            focused my senior technical studies in data mining, artificial intelligence theory, and
            computer vision.<br><br>

            During my co-op semesters this approaching Fall 2020 and Spring 2021, I look forward to
            contributing my technical knowledge and interpersonal skills to a dynamic project, all while
            acquiring new experiences and discovering new interests.<br><br>

            I am searching for co-op opportunities now. If you have any inquiries, related or unrelated
            to this search, please feel free to contact me.
        </p>
    </div>
{{end}}