{{define "head"}}
    <link type="text/css" rel="stylesheet" href="/static/css/contact.css">
    <link type="text/css" rel="stylesheet" href="/static/css/loadanimation.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        function loading() {
            document.getElementById("loading-dots").style.display = "flex";
        }
    </script>
{{end}}

{{define "main"}}
    <div class="contact-me" id="contact-me">
        <p>Please contact me via the form below.</p>
        <form name="contact-me-form" id="contact-me-form" action="/contact/" method="post" onsubmit="loading()">
            <div>
                <label for="email">Your Email:<br>
                <textarea name="email" form="contact-me-form" rows="1" cols="100" maxlength="50"></textarea>
                </label>
            </div>
            <div>
                <label for="message">Your Message:<br>
                <textarea name="message" form="contact-me-form" rows="15" cols="100" maxlength="1250"></textarea>
                </label>
            </div>
            <div class="g-recaptcha" data-sitekey="6Lfaj_UUAAAAAI4-K2jsYCpWaijLoNKi7VClH_OJ"></div>
            <input type="submit" value="Send">
        </form>
    </div>
    <div id="loading-dots" class="loading-dots">
        <div class="loading-dot dot-1"></div>
        <div class="loading-dot dot-2"></div>
        <div class="loading-dot dot-3"></div>
    </div>
{{end}}