{{define "head"}}
    <link type="text/css" rel="stylesheet" href="/static/css/resume.css">
{{end}}

{{define "main"}}
    <div class="resume">
        <!-- image here, eventually -->
        {{template "education_component" .}}
        {{template "experience_component" .}}
        {{template "projects_component" .}}
        {{template "skills_component" .}}
    </div>
{{end}}

{{define "education_component"}}
    <div class="section">
        <div class="section-title-container">
            <h1 class="section-title">Education</h1>
        </div>
        <div class="subject-container">
            <div class="subject-heading">
                <div>
                    <h2 class="subject-title">University of Victoria</h2>
                </div>
                <div>
                    <p class="date-range">September 2016 - ongoing (Summer 2021 Graduation)</p>
                </div>
            </div>
            <p class="subject-note">Bachelor of Software Engineering</p>
            <p class="subject-note">Emphasis in Data Mining, Machine Learning, and AI</p>
            <p class="subject-note">GPA 3.92/4.00</p>
        </div>
    </div>
{{end}}

{{define "experience_component"}}
    <div class="section">
        <div class="section-title-container">
            <h1 class="section-title">Experience</h1>
        </div>
        <div class="subject-container">
            <div class="subject-heading">
                <div>
                    <h2 class="subject-title">Junior Software Engineer</h2>
                </div>
                <div>
                    <p class="date-range">May 2018 - December 2018</p>
                </div>
            </div>
            <p class="subject-note">GetControl Corporation, Vancouver, BC</p>
            <ul class="subject-descriptor-list">
                <li>developed a Google Cloud Function-based JavaScript bulk data retrieval system for customer, transaction, and subscription information from the Square, Stripe, and Authorize.net APIs</li>
                <li>developed a prototype Java bulk data retrieval system using Google Cloud Dataflow (a scalable, cloud-based version of the Apache Beam pipelining framework), which led to the adoption of Google Cloud Functions after it proved unsuitable for the task</li>
                <li>presented the Google Cloud Dataflow prototype to GetControl Corp. investors, highlighting pros and con</li>
                <li>improved MySQL query performance substantially by analyzing query execution plans for on-the-fly financial data aggregation generating metrics like customer churn and gross income</li>
                <li>communicated successfully with Stripe to have API rate limits increased for GetControl Corporation</li>
                <li>participated in agile scrum development methodologies incorporating daily stand-ups and code reviews, biweekly sprint planning and retrospectives, and periodic releases</li>
                <li>contributed to a unit test suite using tools like Sinon.js, Chai.js, Rewire.js, and JUnit</li>
                <li>refactored the JavaScript user authentication module to be asynchronous using promises and the Bluebird.js package</li>
            </ul>
        </div>
    </div>
{{end}}

{{define "projects_component"}}
    <div class="section">
        <div class="section-title-container">
            <h1 class="section-title">Projects</h1>
        </div>
        <div class="subject-container">
            <div class="subject-heading">
                <div>
                    <h2 class="subject-title">Detection of Marine Vessel Transits in Spectrograms</h2>
                </div>
                <div>
                    <p class="date-range">January 2020 - ongoing</p>
                </div>
            </div>
            <p class="subject-note">Computer Vision & Machine Learning Project</p>
            <ul class="subject-descriptor-list">
                <li>volunteered to develop an algorithm to detect marine vessel transits in spectrograms generated by undersea hydrophones for Sea to Shore Systems and the Saturna Island Marine Research & Education Society</li>
                <li>researched and implemented processes like adaptive thresholding, connected components labelling, and Support Vector Machine classification using Python libraries like OpenCV, Scikit-Learn, and Pandas</li>
            </ul>
        </div>
        <div class="subject-container">
            <div class="subject-heading">
                <div>
                    <h2 class="subject-title">What Lyrics Have to Say</h2>
                </div>
                <div>
                    <p class="date-range">October 2019 - December 2019</p>
                </div>
            </div>
            <p class="subject-note">Data Mining Project</p>
            <ul class="subject-descriptor-list">
                <li>experimented with classifiers like Decision Trees, Logistic Regressors, and Support Vector Machines to investigate the relationship between song lyrics and their respective genres</li>
            </ul>
        </div>
        <div class="subject-container">
            <div class="subject-heading">
                <div>
                    <h2 class="subject-title">TreeGen: Using a Genetic Algorithm to Find the Optimal Placement for Trees</h2>
                </div>
                <div>
                    <p class="date-range">June 2019 - August 2019</p>
                </div>
            </div>
            <p class="subject-note">Genetic Algorithm Project</p>
            <ul class="subject-descriptor-list">
                <li>experimented with a genetic algorithm that finds the planting layout optimal for tree survival</li>
            </ul>
        </div>
        <div class="subject-container">
            <div class="subject-heading">
                <div>
                    <h2 class="subject-title">Battlesnake</h2>
                </div>
                <div>
                    <p class="date-range">March 2019 & March 2020</p>
                </div>
            </div>
            <p class="subject-note">Algorithms Competition, Victoria, BC</p>
            <ul class="subject-descriptor-list">
                <li>implemented an iterative-deepening, Alpha-Beta pruning Minimax algorithm for brute-forcing the best move for a snake given a board state using Golang</li>
            </ul>
        </div>
    </div>
{{end}}

{{define "skills_component"}}
    <div class="section">
        <div class="section-title-container">
            <h1 class="section-title">Technical</h1>
        </div>
        <!--<table>
            <tr>
                <th>Languages</th>
                <th>Software</th>
                <th></th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>-->
        <div class="skill-overview-grid">
            <div>
                <h2 class="skill-title">Languages</h2>
                <ul class="subject-descriptor-list">
                    <li>Python</li>
                    <li>JavaScript</li>
                    <li>Golang</li>
                    <li>Java</li>
                    <li>C</li>
                    <li>x86 Assembly</li>
                </ul>
            </div>
            <div>
                <h2 class="skill-title">Software, Frameworks, and Packages</h2>
                <ul class="subject-descriptor-list">
                    <li>Google Cloud Dataflow/Apache Beam</li>
                    <li>Numpy</li>
                    <li>Pandas</li>
                    <li>Scikit-Learn</li>
                    <li>React/Vue</li>
                    <li>OpenCV</li>
                    <li>MacOS</li>
                    <li>Linux</li>
                    <li>Windows</li>
                </ul>
            </div>
            <div>
                <h2 class="skill-title">Soft</h2>
                <ul class="subject-descriptor-list">
                    <li>Public Speaking</li>
                    <li>Communication</li>
                    <li>Leadership</li>
                </ul>
            </div>
        </div>
    </div>
{{end}}